body{
    background-color: #f1f1f1;
}
/* css para la sombra del div "sombra" */
#sombra{
    padding-top: 5%;
    position:relative;      
                -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
   
}
#contenedor
{
    display: center;
}
/* css para las validaciones */

	label.valid {
		  width: 40px;
		  height: 28px;
		  background: url(assets/img/valid.png) center center no-repeat;
		  /* float: right; */
                  display: inline-block;
                  
		  text-indent: -9999px;
		}
		label.error {
			font-weight: bold;
			color: red;
			display: inline-block;
			padding: 2px 8px;
			margin-top: 2px;
		}
